
/*body{ margin-left:0px; margin-top:0px; font-family:Arial;} */
html,body{
    font-family:Arial;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #e9f0ed;
}

/*
#principalLayout{
    width: 100%;
    height: 100%;
    font-size:12px;
}
*/

	#header{
        width:100%;
        height:75px;
        background-color: rgba(13, 12, 65, 0.79);
        float:left;
        font-size: 20px;
        text-align: left;
        position: absolute;
    }


		#content{
            width:100%;
            float:right;
            background-color: #e9f0ed;
            min-height:78.8% !important;
            margin-top: 75px
        }

            #menuIzq{
                width:165px;
                float:left;
                background-color: #f9f9f9;
                text-align: center
            }


			#contenedor{
                width:65%;
                float:left;
                background-color: #e9f0ed;
                padding: 15px;
            }
				


    #footer{
        width: 100%;
        height:30px;
        float:left;
        text-align:center;
        background-color: rgba(13, 12, 65, 0.79);
        padding-top: 7px;
        color:#FFFFFF;
        position: relative
    }


#FormularioAcceso{
    width: 33%;
    margin: 0 auto;
}

/* estilo usado para los checkboxes del abm cap_solic */
.checkboxes{
    float: left;
    width: 33%;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1px ;
}

.checkboxes .cbcheck{
    clear: both;
}

.checkboxes .cbtitulo{
    clear: both;
    text-align: left;
    padding-bottom: 5px;
}
.checkboxes .check{
    float: left;
    width: 15px;
    height: 15px;
}

.checkboxes .lab{
    float: left;
    padding: 2px;
    clear: right;
}

/* estilo usado para el checkbox unico del abmVistaEmpleado */
.checkbox_individual{
    float: left;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1px ;
}
.checkbox_individual .cbcheck{
    clear: both;
}

.checkbox_individual .cbtitulo{
    clear: both;
    text-align: left;
    padding-bottom: 5px;
}
.checkbox_individual .check{
    float: left;
    width: 15px;
    height: 15px;
}

.checkbox_individual .lab{
    float: left;
    padding: 2px;
    clear: right;
}


/* estilo para tabla donde se cargan los planes de capacitacion. Archivo abmCap_solic.php */
.tablaSolicitud tbody tr td{
    background-color: #ffffff;
    vertical-align: middle;
    padding: 5px;
    font-family: Arial;
    font-size: 11px;
    /*text-align: center; */
}


/*  estilo usaso para los errores del jquery validate  */
.error {
    color: red;
}

/*Estilo para tabla de autorizacion / aprobacion */
#table_plan thead tr td{
    padding-left: 5px;
}

#table_plan tfoot tr td{
    font-weight: bold;
    padding-left: 5px;
}




/* estilo usado para los spinners de la evaluacion de la capacitacion */
.spinners{
    float: left;
    width: 49%;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1px ;
}

.spinners .cbcheck{
    clear: both;
}

.spinners .cbtitulo{
    clear: both;
    text-align: left;
    padding-bottom: 5px;
}
.spinners .check{
    float: left;
    width: 38px;
    height: 15px;
}

.spinners .lab{
    float: left;
    padding: 2px;
    clear: right;
}


/* estilos para los spinner de los objetivos */
.spinners_objetivos{
    float: left;
    width: 100%;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1px ;
}

.spinners_objetivos .cbcheck{
    clear: both;
}

.spinners_objetivos .cbtitulo{
    clear: both;
    text-align: left;
    padding-bottom: 5px;
}
.spinners_objetivos .check{
    float: left;
    width: 38px;
    height: 15px;
}

.spinners_objetivos .lab{
    float: left;
    padding: 2px;
    clear: right;
}



/* para cambiar el estado a los img de los links */
.link-desactivado img {
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}



/* Estilo del tooltip. La clase .ui-tooltip es la clase CSS que tiene por defecto el tooltip*/
.ui-tooltip {
    font-size:11px;
    font-family: Arial;
    padding: 3px;
    background-image: none;
    background-color: #FFCC80;
    border: 1px;
    box-shadow: 2px 2px 5px #999;
}











