
/*body{ margin-left:0px; margin-top:0px; font-family:Arial;} */
html,body{
    font-family:Arial;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#principalLayout{
    width: 100%;
    height: 100%;
    font-size:12px;
}

	#header{ width:100%; height:100px; background-color: rgba(13, 12, 65, 0.79); float:left; font-size: 20px; text-align: left;}


		#content{ width:100%; float:right; background-color: #e9f0ed; min-height:78.8% !important;}

            #menuIzq{ width:165px; float:left; background-color: #f9f9f9; text-align: center }


			#contenedor{ width:920px; float:left; background-color: #e9f0ed; padding: 15px; }
				


    #footer{ width: 100%; height:30px; float:left; text-align:center; background-color: rgba(13, 12, 65, 0.79); padding-top: 7px; color:#FFFFFF}


#FormularioAcceso{
    width: 33%;
    margin: 0 auto;
}